.centrado{
   margin-left: 19px;
   text-align: center;
    

}

.tituloP{

max-width: 285px; /*  */
height: 43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
margin-right: 10px;



color: #363537;


}


.parrafo{

max-width: 250px;
height: 30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;

color: #363537;

margin-top: 20px;

}

.lista{
    list-style: none;
    margin-top: 30px;

}

.tit{

max-width: 200px; /*  */
height: 35px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #363537;


    
}

.bit{
max-width: 169px;
max-height: 29px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #363537;
margin-top: 5px

}



.prec{
max-width: 150px; /*  */
height: 35px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

color: #363537;

margin-top: 13px;
}

.prec2{
max-width: 61px;  /*  */
height: 29px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #363537;
margin-top: 5px;
}